{% set active_page = 'dwd_admin_homepage' %}
{% extends '@App/Base/base.html.twig' %}
{% block page_header %}{{ service_name }}{% endblock %}
{% block content %}
    <h1 class="page-title">
        Hello
    </h1>
{% endblock content %}
